/* Other rules */
* {
    box-sizing: border-box;
}
.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#count {
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.counter > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.counter > div > div {
    font-size: 70px;
    width: 80px;
    text-align: center;
}
.counter button {
    padding: 10px;
    background-color: blueviolet;
    color: white;
    margin-top: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.container > div {
    display: flex;
    /* background-color: tomato; */
    height: 100px;
}

#addCounter {
    padding: 10px;
    margin-bottom: 60px;
    background-color: blueviolet;
    color: white;
}
